h1
{
    color: blue;
    margin-bottom: 0;
}
div
{
    text-align: center;
}
img
{
    width: 30%;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid #ff0000;
}
ul > li
{
    margin-top: 5px;
}

table, td, th
{
    border: 1px solid;
}
